Package: cedema
Version: 0.20-8
Architecture: amd64
Maintainer: Dick  Thomas <dthomas@speaksthegeek.co.uk>
Installed-Size: 207
Depends: gksu, git, software-properties-common, curl, wget, gdebi, apt-transport-https, gjs, gnupg
Section: unknown
Priority: optional
Homepage: https://bitbucket.org/speaksthegeek/cedema
Description: simple installer for non Debian software
  an installer for the things that Debian
  doesn't have installed by default
